/node_modules
/public/hot
/public/storage
/public/vendor/kendo-ui
/public/.DS_Store
/storage/*.key
/vendor
/storage
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.composer.lock
_ide_helper.php
.phpstorm.meta.php
.DS_Store
koperasi-app.zip
public/public.zip
